<a href="https://colab.research.google.com/github/OmkarBhosale06/OmkarBhosale06/blob/main/LC50.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Ridge,Lasso

In [ ]:
dataset = '/content/qsar_fish_toxicity.csv'
data = pd.read_csv(dataset)

In [ ]:

data.head()

    CIC0  SM1_Dz(Z)  GATS1i  NdsCH  NdssC  MLOGP  LC50 [-LOG(mol/L)]
0  3.260      0.829   1.676      0      1  1.453               3.770
1  2.189      0.580   0.863      0      0  1.348               3.115
2  2.125      0.638   0.831      0      0  1.348               3.531
3  3.027      0.331   1.472      1      0  1.807               3.510
4  2.094      0.827   0.860      0      0  1.886               5.390

In [ ]:
data['NdsCH'].value_counts()

0    760
1    107
2     29
4      7
3      5
Name: NdsCH, dtype: int64

In [ ]:

column_names = list(data.columns)
column_names

['CIC0',
 'SM1_Dz(Z)',
 'GATS1i',
 'NdsCH',
 'NdssC',
 'MLOGP',
 'LC50 [-LOG(mol/L)]']

In [ ]:
data.tail()

      CIC0  SM1_Dz(Z)  GATS1i  NdsCH  NdssC  MLOGP  LC50 [-LOG(mol/L)]
903  2.801      0.728   2.226      0      2  0.736               3.109
904  3.652      0.872   0.867      2      3  3.983               4.040
905  3.763      0.916   0.878      0      6  2.918               4.818
906  2.831      1.393   1.077      0      1  0.906               5.317
907  4.057      1.032   1.183      1      3  4.754               8.201

In [ ]:
data.isnull().sum()

CIC0                  0
SM1_Dz(Z)             0
GATS1i                0
NdsCH                 0
NdssC                 0
MLOGP                 0
LC50 [-LOG(mol/L)]    0
dtype: int64

In [ ]:

data.describe()

             CIC0   SM1_Dz(Z)  ...       MLOGP  LC50 [-LOG(mol/L)]
count  908.000000  908.000000  ...  908.000000          908.000000
mean     2.898129    0.628468  ...    2.109285            4.064431
std      0.756088    0.428459  ...    1.433181            1.455698
min      0.667000    0.000000  ...   -2.884000            0.053000
25%      2.347000    0.223000  ...    1.209000            3.151750
50%      2.934000    0.570000  ...    2.127000            3.987500
75%      3.407000    0.892750  ...    3.105000            4.907500
max      5.926000    2.171000  ...    6.515000            9.612000

[8 rows x 7 columns]

In [ ]:

data.std()

CIC0                  0.756088
SM1_Dz(Z)             0.428459
GATS1i                0.394303
NdsCH                 0.605335
NdssC                 0.861279
MLOGP                 1.433181
LC50 [-LOG(mol/L)]    1.455698
dtype: float64

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data=scaler.fit_transform(data)
print(scaled_data)

[[ 0.47887329  0.46828848  0.97036948 ...  0.59748428 -0.45817453
  -0.20237219]
 [-0.93840825 -0.11318414 -1.09263435 ... -0.56421963 -0.53147852
  -0.652576  ]
 [-1.02310108  0.02225928 -1.173835   ... -0.56421963 -0.53147852
  -0.36664503]
 ...
 [ 1.14450599  0.67145361 -1.05457155 ...  6.40600388  0.56459064
   0.5179539 ]
 [-0.08883332  1.78535897 -0.54960505 ...  0.59748428 -0.8400534
   0.86093359]
 [ 1.53356366  0.94234045 -0.28062792 ...  2.92089212  1.84636323
   2.84320501]]

In [ ]:

df = pd.DataFrame(scaled_data)
df.head()
df.shape

(908, 7)

In [ ]:
df.columns = column_names
df

         CIC0  SM1_Dz(Z)    GATS1i  ...     NdssC     MLOGP  LC50 [-LOG(mol/L)]
0    0.478873   0.468288  0.970369  ...  0.597484 -0.458175           -0.202372
1   -0.938408  -0.113184 -1.092634  ... -0.564220 -0.531479           -0.652576
2   -1.023101   0.022259 -1.173835  ... -0.564220 -0.531479           -0.366645
3    0.170538  -0.694657  0.452715  ... -0.564220 -0.211035           -0.381079
4   -1.064124   0.463618 -1.100247  ... -0.564220 -0.155883            0.911109
..        ...        ...       ...  ...       ...       ...                 ...
903 -0.128533   0.232430  2.366006  ...  1.759188 -0.958736           -0.656700
904  0.997617   0.568703 -1.082484  ...  2.920892  1.308103           -0.016792
905  1.144506   0.671454 -1.054572  ...  6.406004  0.564591            0.517954
906 -0.088833   1.785359 -0.549605  ...  0.597484 -0.840053            0.860934
907  1.533564   0.942340 -0.280628  ...  2.920892  1.846363            2.843205

[908 rows x 7 columns]

In [ ]:
X = df.drop(['LC50 [-LOG(mol/L)]'], axis=1)

In [ ]:
X.head()

       CIC0  SM1_Dz(Z)    GATS1i     NdsCH     NdssC     MLOGP
0  0.478873   0.468288  0.970369 -0.378635  0.597484 -0.458175
1 -0.938408  -0.113184 -1.092634 -0.378635 -0.564220 -0.531479
2 -1.023101   0.022259 -1.173835 -0.378635 -0.564220 -0.531479
3  0.170538  -0.694657  0.452715  1.274253 -0.564220 -0.211035
4 -1.064124   0.463618 -1.100247 -0.378635 -0.564220 -0.155883

In [ ]:
y = df['LC50 [-LOG(mol/L)]']
y.head()

0   -0.202372
1   -0.652576
2   -0.366645
3   -0.381079
4    0.911109
Name: LC50 [-LOG(mol/L)], dtype: float64

In [193]:
model = LinearRegression( fit_intercept= False,n_jobs=-1, positive= False) 
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.5,random_state=1)

In [194]:

params = {
   "fit_intercept":[True,False],
    "positive":[True,False]
}

In [195]:
model.fit(X_train, y_train)

LinearRegression(fit_intercept=False, n_jobs=-1)

In [196]:
y_pred = model.predict(X_test)
print(y_pred)

[-1.30888142e+00 -1.14515461e+00 -7.43578893e-02 -3.86163656e-02
 -1.66249795e+00 -9.10823462e-01 -1.09903761e+00  5.88014731e-01
 -7.66976357e-01  8.48455994e-02 -8.95432814e-03 -3.23642891e-02
 -1.07580922e+00  6.43199583e-01 -1.42620190e-01 -9.57624972e-01
  4.28389084e-01 -1.94068431e-01  1.88082275e+00 -9.53356413e-01
 -1.70260121e-01  5.72516682e-02  9.34385514e-01 -1.04692278e+00
 -2.17883504e-01  5.40957598e-01 -7.30285997e-01 -9.15701748e-01
 -1.84235489e+00 -3.37330413e-02  2.53830722e-01 -2.63482081e-01
 -1.07188964e+00 -8.08476204e-01 -3.74423853e-01  2.75020303e+00
 -2.63472448e-01 -2.26628334e-01 -6.43183786e-01 -6.05705406e-01
  4.08893641e-01  7.60755112e-01  4.17191253e-01  4.29311881e-02
 -2.27737385e-01  7.21743964e-01 -3.71909952e-01  1.37290059e+00
  8.26628455e-01  7.33900228e-01  6.74522846e-01  1.19668855e-01
 -2.68573683e+00  5.07175811e-02 -8.80732616e-01 -9.81020481e-02
  5.87364503e-03 -5.56770508e-01  1.75963750e-01 -4.55009713e-01
  3.31144495e-01 -1.07188964e+00 -3.32776649e-01  6.31411149e-01
  8.17652916e-02  1.14326329e+00  1.20524495e+00  3.25677420e-01
 -1.75407102e+00 -1.07756716e+00  2.25422494e+00  1.51669254e+00
  8.41291382e-02  1.08626534e-01 -3.45715851e-01  2.95923431e-01
  6.88279672e-02  7.75060046e-01  1.70545600e-01 -1.76305758e-01
  3.17719624e-01  3.69999855e-01  6.91572139e-01 -4.60701120e-02
  1.08397639e-02  4.32829116e-01  4.51946734e-01  1.09597388e+00
 -2.73057820e-01 -3.83207053e-01 -5.59214379e-01  2.51239773e-01
 -5.29823331e-01 -5.74067837e-02  4.32200004e-01 -3.83207053e-01
 -3.86347277e-01  1.41359987e+00  1.56017145e+00 -3.45715851e-01
 -8.84910165e-02  6.74522846e-01  1.06325016e+00  9.71254154e-02
 -1.05046582e+00 -1.31936868e+00  1.35045797e-01  3.67695822e-01
  2.84729249e-01 -3.21518845e-01  5.93563501e-01  1.06249385e-01
 -1.00398234e+00  3.89621852e-01 -1.53783932e-01 -1.09680130e-01
  5.96025192e-01  1.33651538e+00 -3.93773737e-01  7.73104512e-01
 -5.41702263e-01  9.43504983e-01 -3.21840844e-01 -6.43183786e-01
 -1.28698417e-01  3.94864732e-01 -9.10777248e-01  1.57263579e-01
 -1.28268814e+00 -2.43158059e-01  2.28707367e-01  5.62156581e-01
  7.82400853e-01 -1.62249417e-01 -2.17883504e-01  3.57013392e-01
  5.05524883e-01 -4.08211882e-02 -1.31937325e+00  4.61754046e-01
 -2.77442215e-01 -2.20728311e-01 -1.77133265e-01  3.30874764e-01
 -3.88421951e-01 -1.01111814e-01  6.82313275e-01 -5.89228124e-01
  5.13112608e-01  5.19519203e-01  2.13998929e-01 -3.71019730e-01
 -3.53018761e-01 -1.72833814e+00  1.01141363e-01  8.55244340e-01
  2.96177177e-01 -7.71800373e-01  4.83211957e-01  4.25688123e-02
  1.50649106e-02 -7.84367499e-02  6.85839031e-01  9.66646702e-01
 -4.09615591e-01  1.70545600e-01  1.45095056e-01 -1.04934033e+00
  9.27635027e-01 -1.15217626e+00  1.29642108e+00 -2.32771827e-04
  1.35906238e+00 -9.40485929e-01  4.54876601e-01 -4.45479948e-01
 -1.63881164e+00 -1.14813716e+00  2.17858672e-01 -1.39218260e-01
 -9.04160952e-01 -7.72460293e-01 -8.42842222e-02 -2.68928046e-02
 -8.15881438e-01 -1.39363778e-01  2.12841506e-01  1.42773168e+00
 -1.23518677e-01  1.73214582e+00 -3.30472186e-02  5.08868737e-01
  4.49872256e-01 -4.80424597e-01  2.11740998e-01 -1.32426208e+00
 -1.39641719e+00 -1.39898748e-01  1.35312248e-01  4.84461651e-01
 -9.97447579e-02 -1.12376105e-01  1.13212835e+00 -1.41640290e+00
  5.38531014e-01 -4.63809487e-01 -1.03346226e+00  2.58745056e-01
  3.75543924e-01  4.15392951e-01  1.23228829e-01  4.05349915e-01
 -8.33064883e-01 -9.40485929e-01 -1.52972324e+00 -6.22251538e-02
 -1.03620482e+00 -6.56672428e-02 -2.53038441e-01  9.85085957e-01
  1.21234700e+00  9.26922159e-01  1.64051034e+00 -3.89050534e-01
  1.23228829e-01 -1.50462099e-02 -5.23115007e-01 -4.01781966e-01
 -2.50959914e-01  3.01670742e-01 -4.71618603e-01  3.24350535e-01
 -9.29972637e-03 -3.30534662e-01 -6.30529085e-01 -4.42257630e-01
 -6.48672105e-01 -6.85003921e-01 -2.44105727e-02  3.60261886e-01
  1.72066548e+00 -8.64614138e-01 -3.59327361e-01 -6.60635759e-01
  1.72753741e+00  1.18089295e+00  4.32200004e-01 -1.41498156e+00
 -1.35820711e+00 -1.41767085e+00 -9.42623991e-01  2.39750646e+00
 -8.64614138e-01  1.09495109e+00 -1.20987023e+00 -1.04692278e+00
  6.32728002e-02 -4.93217594e-01  3.95685248e-02 -6.40553898e-01
 -6.96419872e-03 -1.22400349e-01 -2.51406497e-01 -5.12976056e-01
 -3.30534662e-01  9.60179029e-02 -4.42599667e-01 -6.40553898e-01
 -5.09591114e-02  9.96715198e-01 -4.62674087e-01  1.60130852e+00
 -1.18817590e-01 -4.97192088e-01 -4.96878919e-01 -2.07141122e-01
  7.64104496e-01 -2.08063742e-01  3.01274564e-01 -1.24811983e+00
  6.86422277e-01  3.40464319e-01 -2.10138561e-01  8.72631116e-01
 -1.94068431e-01 -8.49796457e-01  1.42489051e+00 -1.15000551e+00
  4.60952575e-01 -3.28387674e-02 -3.25750395e-01  7.92160467e-01
 -1.89579014e-01 -5.74067837e-02  8.00553135e-02  9.54906013e-01
  5.67595215e-01 -2.27737385e-01 -3.38827669e-01 -8.59721253e-01
 -1.40022069e+00  1.34006134e-01 -1.25515027e+00  3.67432084e-01
 -3.34147290e-01 -5.60266414e-01 -9.16627695e-01  8.26136809e-02
 -3.88421951e-01 -1.44884118e-01 -1.96912129e-01  7.01671829e-02
  3.31144495e-01 -1.14118786e+00 -5.61647529e-01  2.73801721e-01
 -9.29972637e-03 -8.64614138e-01 -2.89742247e-01 -4.43825550e-01
 -7.91004492e-02 -2.11972110e-01  3.30177717e-02 -9.51939501e-02
  6.46979384e-02 -5.57286748e-01 -3.97412881e-01  4.11364465e-01
  1.73318286e+00  1.21660052e+00 -4.13053066e-01 -1.80298443e-01
  1.10788724e+00  9.26922159e-01 -6.48672105e-01 -6.86181716e-01
 -5.51853126e-02 -1.62732405e-01  3.34671630e-01 -5.26155101e-01
 -1.94068431e-01  1.07513073e+00 -1.79973115e-01 -5.21839346e-01
 -4.05871763e-01  1.53389854e-02  5.58916133e-02 -8.40879732e-02
 -3.52851388e-01  1.74581796e-01  5.10109352e-01  2.73801721e-01
 -3.08695544e-02 -2.52363069e-01  1.35773669e+00 -5.74067837e-02
  2.43828487e+00 -5.39968761e-02  1.47070006e+00  7.66982905e-01
  1.12305544e-01 -9.40485929e-01 -2.40337325e-01 -5.58954350e-01
 -8.06363410e-01  8.57253857e-02 -7.87105065e-01 -8.31308788e-01
 -2.85380033e-01 -1.38619626e-01  7.60755112e-01 -6.35691920e-01
 -1.04692278e+00  1.19668855e-01 -1.94068431e-01 -1.28040132e-01
  1.19668855e-01  4.85780833e-01 -6.86181716e-01 -8.81837858e-01
  5.67595215e-01  4.67762739e-01 -6.56672428e-02  7.12758216e-01
 -7.61451053e-02 -1.59622133e-01 -1.12090426e+00 -3.38564425e-02
 -7.15174090e-01  3.26352834e-01 -3.73142635e-02  1.99743638e-01
  1.58368948e+00  1.08939156e+00 -4.55759166e-01 -2.45689196e-01
  1.29938200e-01 -1.01111814e-01  1.18980597e+00 -4.93274910e-01
  7.78663739e-02  4.25688123e-02  5.82416806e-01 -4.69440299e-01
 -3.43243689e-01 -1.11314196e+00  7.82400853e-01 -6.76986102e-01
 -1.33113010e+00 -6.43183786e-01  8.96129831e-01 -6.20671490e-01
  1.75963750e-01 -1.76710773e+00  9.04825774e-02 -2.92468165e-01
  4.21938639e-01 -9.01170659e-01 -5.04415582e-02  1.20910729e+00
  1.41386658e+00  6.13394735e-01  1.75029312e-01 -7.54326674e-01
 -1.26522181e+00  2.88760302e-01  4.29311881e-02 -4.76952807e-01
  4.01553482e-01  3.30501551e-01  7.86105407e-01  1.19668855e-01
 -3.41109529e-01 -6.03853248e-01  7.82400853e-01 -1.78709133e+00
 -7.96575232e-03  2.11918030e+00  8.35706016e-01  5.08870066e-02
  1.10519492e+00  3.98633152e-01 -4.25902698e-01  6.91741564e-01
 -9.61927304e-01  8.92554290e-02 -2.17883504e-01  1.45914541e+00
 -9.38749573e-02  8.15238122e-01  2.99878546e-01  4.60743635e-01
 -6.64177799e-02 -3.74423853e-01]

In [197]:

from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.5637216244631362

In [198]:
from sklearn.model_selection import GridSearchCV
grid = GridSearchCV(estimator=model,param_grid=params,scoring='r2')

In [199]:
 model=grid.fit(X_train,y_train)

In [200]:
model.best_params_

{'fit_intercept': False, 'positive': False}

In [201]:


model.best_score_

0.571902509914465

In [202]:

from sklearn import linear_model
lasso_reg = linear_model.Lasso(alpha=500,max_iter=500,tol=0.925)
lasso_reg.fit(X_train,y_train)

Lasso(alpha=500, max_iter=500, tol=0.925)

In [203]:
lasso_reg.score(X_test,y_test)

-0.016897063109309052

In [204]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train, y_train)

DecisionTreeRegressor(random_state=0)

In [205]:
regressor.score(X_train, y_train)

0.9912078021738223

In [206]:
predictions=regressor.predict(X_test)

In [207]:
r2_score(y_test,predictions)

0.22101930610237308

In [208]:
from sklearn.ensemble import RandomForestRegressor
regressor2 = RandomForestRegressor(n_estimators = 400, random_state = 0)
regressor2.fit(X_train, y_train)

RandomForestRegressor(n_estimators=400, random_state=0)

In [209]:

regressor2.score(X_train, y_train)

0.9390846454022257

In [210]:
pred2=regressor2.predict(X_test)

In [211]:
y_test.head

<bound method NDFrame.head of 685   -2.023120
255   -1.895276
868    0.147481
142   -0.616147
641   -2.426585
         ...
399    0.913171
765    0.632051
452   -0.194124
352    0.616243
599   -0.277292
Name: LC50 [-LOG(mol/L)], Length: 454, dtype: float64>

In [212]:
r2_score(y_test,pred2)

0.6022630829151812