<a href="https://colab.research.google.com/github/OmkarBhosale06/OmkarBhosale06/blob/main/LC50.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Ridge,Lasso

In [3]:
dataset = '/content/qsar_fish_toxicity.csv'
data = pd.read_csv(dataset)

In [4]:

data.head()

    CIC0  SM1_Dz(Z)  GATS1i  NdsCH  NdssC  MLOGP  LC50 [-LOG(mol/L)]
0  3.260      0.829   1.676      0      1  1.453               3.770
1  2.189      0.580   0.863      0      0  1.348               3.115
2  2.125      0.638   0.831      0      0  1.348               3.531
3  3.027      0.331   1.472      1      0  1.807               3.510
4  2.094      0.827   0.860      0      0  1.886               5.390

In [5]:
data['NdsCH'].value_counts()

0    760
1    107
2     29
4      7
3      5
Name: NdsCH, dtype: int64

In [6]:

column_names = list(data.columns)
column_names

['CIC0',
 'SM1_Dz(Z)',
 'GATS1i',
 'NdsCH',
 'NdssC',
 'MLOGP',
 'LC50 [-LOG(mol/L)]']

In [7]:
data.tail()

      CIC0  SM1_Dz(Z)  GATS1i  NdsCH  NdssC  MLOGP  LC50 [-LOG(mol/L)]
903  2.801      0.728   2.226      0      2  0.736               3.109
904  3.652      0.872   0.867      2      3  3.983               4.040
905  3.763      0.916   0.878      0      6  2.918               4.818
906  2.831      1.393   1.077      0      1  0.906               5.317
907  4.057      1.032   1.183      1      3  4.754               8.201

In [8]:
data.isnull().sum()

CIC0                  0
SM1_Dz(Z)             0
GATS1i                0
NdsCH                 0
NdssC                 0
MLOGP                 0
LC50 [-LOG(mol/L)]    0
dtype: int64

In [9]:

data.describe()

             CIC0   SM1_Dz(Z)  ...       MLOGP  LC50 [-LOG(mol/L)]
count  908.000000  908.000000  ...  908.000000          908.000000
mean     2.898129    0.628468  ...    2.109285            4.064431
std      0.756088    0.428459  ...    1.433181            1.455698
min      0.667000    0.000000  ...   -2.884000            0.053000
25%      2.347000    0.223000  ...    1.209000            3.151750
50%      2.934000    0.570000  ...    2.127000            3.987500
75%      3.407000    0.892750  ...    3.105000            4.907500
max      5.926000    2.171000  ...    6.515000            9.612000

[8 rows x 7 columns]

In [10]:

data.std()

CIC0                  0.756088
SM1_Dz(Z)             0.428459
GATS1i                0.394303
NdsCH                 0.605335
NdssC                 0.861279
MLOGP                 1.433181
LC50 [-LOG(mol/L)]    1.455698
dtype: float64

In [11]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data=scaler.fit_transform(data)
print(scaled_data)

[[ 0.47887329  0.46828848  0.97036948 ...  0.59748428 -0.45817453
  -0.20237219]
 [-0.93840825 -0.11318414 -1.09263435 ... -0.56421963 -0.53147852
  -0.652576  ]
 [-1.02310108  0.02225928 -1.173835   ... -0.56421963 -0.53147852
  -0.36664503]
 ...
 [ 1.14450599  0.67145361 -1.05457155 ...  6.40600388  0.56459064
   0.5179539 ]
 [-0.08883332  1.78535897 -0.54960505 ...  0.59748428 -0.8400534
   0.86093359]
 [ 1.53356366  0.94234045 -0.28062792 ...  2.92089212  1.84636323
   2.84320501]]

In [12]:

df = pd.DataFrame(scaled_data)
df.head()
df.shape

(908, 7)

In [13]:
df.columns = column_names
df

         CIC0  SM1_Dz(Z)    GATS1i  ...     NdssC     MLOGP  LC50 [-LOG(mol/L)]
0    0.478873   0.468288  0.970369  ...  0.597484 -0.458175           -0.202372
1   -0.938408  -0.113184 -1.092634  ... -0.564220 -0.531479           -0.652576
2   -1.023101   0.022259 -1.173835  ... -0.564220 -0.531479           -0.366645
3    0.170538  -0.694657  0.452715  ... -0.564220 -0.211035           -0.381079
4   -1.064124   0.463618 -1.100247  ... -0.564220 -0.155883            0.911109
..        ...        ...       ...  ...       ...       ...                 ...
903 -0.128533   0.232430  2.366006  ...  1.759188 -0.958736           -0.656700
904  0.997617   0.568703 -1.082484  ...  2.920892  1.308103           -0.016792
905  1.144506   0.671454 -1.054572  ...  6.406004  0.564591            0.517954
906 -0.088833   1.785359 -0.549605  ...  0.597484 -0.840053            0.860934
907  1.533564   0.942340 -0.280628  ...  2.920892  1.846363            2.843205

[908 rows x 7 columns]

In [14]:
X = df.drop(['LC50 [-LOG(mol/L)]'], axis=1)

In [15]:

X.head()

       CIC0  SM1_Dz(Z)    GATS1i     NdsCH     NdssC     MLOGP
0  0.478873   0.468288  0.970369 -0.378635  0.597484 -0.458175
1 -0.938408  -0.113184 -1.092634 -0.378635 -0.564220 -0.531479
2 -1.023101   0.022259 -1.173835 -0.378635 -0.564220 -0.531479
3  0.170538  -0.694657  0.452715  1.274253 -0.564220 -0.211035
4 -1.064124   0.463618 -1.100247 -0.378635 -0.564220 -0.155883

In [16]:
y = df['LC50 [-LOG(mol/L)]']
y.head()

0   -0.202372
1   -0.652576
2   -0.366645
3   -0.381079
4    0.911109
Name: LC50 [-LOG(mol/L)], dtype: float64

In [17]:
model = LinearRegression( fit_intercept= False,n_jobs=-1, positive= False) 
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.5,random_state=0,shuffle=True)

In [18]:

params = {
   "fit_intercept":[True,False],
    "positive":[True,False]
}

In [19]:
model.fit(X_train, y_train)

LinearRegression(fit_intercept=False, n_jobs=-1)

In [20]:
y_pred = model.predict(X_test)
print(y_pred)

[ 5.77194000e-01  5.35852250e-01  7.89730739e-03  1.06291192e-01
 -8.41384295e-01 -1.77790557e+00  1.60129595e-01  1.36959165e-01
 -5.28189937e-01 -6.19365954e-01  1.39099159e+00  4.22006431e-01
  1.00747108e+00  7.50585126e-01  1.65523243e-01 -4.35684339e-01
  2.14834348e+00 -6.92749348e-01  9.39563792e-01  7.47086804e-01
 -1.00067986e+00  2.87122537e-02 -5.48346217e-01  8.30706125e-03
 -4.81685551e-01  5.70453049e-01  6.77143969e-01  1.82051749e+00
 -1.46856145e+00 -2.46614072e-01 -2.12166330e-01  1.24798605e-01
  6.74431006e-01  6.97270425e-01  5.32451730e-01 -6.51780559e-01
 -1.48857209e-01  7.90626832e-01  2.66612551e-01 -1.18744811e+00
  1.15429514e+00  2.64797356e-01 -3.25240161e-01 -6.99456353e-01
 -1.68913692e+00 -1.13310821e-01  6.96232098e-01 -1.70998288e+00
  1.50415895e-01 -4.92297756e-01  9.18665040e-01 -1.33439019e-01
 -1.13996527e+00  8.17192432e-02  9.70169159e-01 -9.62415760e-02
 -2.13648319e-01 -4.18877381e-01 -4.93150914e-01 -5.72490258e-01
 -2.60490357e-01 -8.10348113e-01  2.04832787e-02 -9.92565160e-01
 -5.07955733e-01 -4.32414819e-02 -1.33973299e-01 -4.43928552e-01
 -4.35777115e-01  1.91546895e-01 -5.84701526e-01 -4.34634563e-01
  5.98834072e-01 -1.00594602e+00  4.25644702e-01  5.11256828e-01
  1.02173325e-01 -9.25094108e-01  3.82827277e-01  8.86644710e-02
  1.18591223e+00  1.84306838e+00  4.13993509e-01 -3.10003765e-01
  9.20606723e-01  4.68541245e-01 -8.13009563e-01  3.43382430e-01
 -8.54150182e-02  7.11630376e-01 -4.30747155e-01 -2.32114416e-02
  7.72011419e-01 -1.76893046e+00  4.94455959e-01  2.41826328e-01
  1.20653517e-01 -4.66834707e-01 -4.62428906e-01 -4.33555794e-01
  7.99069262e-01  6.22479148e-01  6.38567140e-01 -8.69340690e-01
  2.91773069e-02 -3.56546823e-02 -1.10758451e+00  8.65303233e-01
 -2.77455200e-02 -4.64381853e-01 -3.96694348e-01  1.67820282e+00
 -5.87528140e-01 -2.43352990e-02 -8.63494415e-02  3.82827277e-01
 -2.86798034e-01 -1.42412858e-02  1.00322772e+00  1.51236792e+00
 -1.47820952e-01  1.05012894e-01 -8.66994592e-01  6.96793451e-02
 -3.67505568e-01 -1.18281092e-01  8.13601288e-01 -6.17572705e-01
  7.62038366e-01 -7.10057023e-01  8.33151993e-01  1.18081780e+00
  1.12874369e+00  8.06120278e-01  9.72682899e-01  3.69584525e-01
  2.30585079e-01 -1.08865018e+00 -1.09429925e-01 -2.60857954e-01
 -2.13836623e-01 -9.04359646e-01 -1.18216232e+00 -4.15594549e-01
 -3.41652837e-01 -1.53217946e-01 -4.39599516e-01 -2.35186669e-01
  1.40812638e+00  3.43466838e-01  5.45818012e-01 -7.14977780e-01
  1.74693706e+00  1.32767579e-02  2.16045048e-01 -8.11706932e-01
 -3.76176080e-01 -3.41280326e-01 -5.29657080e-01  1.17517398e+00
 -4.28714641e-01 -5.68047100e-01  3.00922355e-01  5.67854876e-01
 -7.60918922e-01 -2.32047849e-01  7.33576908e-01 -1.09697054e-01
  1.61063930e-01  5.18960073e-01 -1.03356477e+00 -1.88195336e-01
 -1.30710133e+00  6.00356378e-01 -3.05444940e-01 -5.28189937e-01
  1.21186118e+00  1.60116965e-01 -8.42679811e-01  1.14094806e+00
 -2.75319283e-01  8.50122924e-02  2.83722649e+00 -9.85242367e-01
  6.38567140e-01  8.05538990e-02 -4.63973918e-01 -1.22865470e+00
  6.74254274e-01 -1.67251546e+00  1.79923907e+00 -4.31648555e-01
 -2.66570052e-01 -7.70598666e-03 -3.24896629e-01 -1.14158840e+00
 -2.23185429e-01 -1.28263239e-01 -5.05715434e-01 -1.17447961e-01
 -9.33052672e-01  1.84568003e+00 -1.18089403e+00 -3.10003765e-01
  8.98493467e-01 -3.74022948e-01  9.48208180e-02 -6.26475287e-01
  1.50415895e-01 -4.43928552e-01 -1.08852553e+00  2.69698691e-01
  1.69615325e-01 -1.21822161e-01  5.35802782e-01 -5.14169908e-01
 -5.71426718e-01 -7.90895159e-01  1.41462880e+00  5.70864268e-02
  2.63571399e-01 -2.32047849e-01 -5.61767099e-01  7.47086804e-01
 -9.58236770e-02 -4.06211524e-01 -3.72089870e-01 -9.04078679e-01
  6.92487210e-01  6.96232098e-01  2.84436347e-01  5.39022680e-02
 -1.20580581e+00 -1.19745935e+00  5.09232619e-01 -2.66570052e-01
 -3.05444940e-01 -1.77430219e-01  4.37521369e-01  9.48208180e-02
  4.85228227e-01 -8.32439973e-02 -2.77187438e-01 -9.56158164e-01
 -8.95477225e-01 -1.71407638e+00 -4.27098481e-02  2.89416943e-01
  1.38797346e+00  3.96294320e-02  8.64663702e-01  1.05247092e+00
 -5.38579746e-01 -7.15600324e-01 -1.23715523e+00  3.86917899e-01
 -3.43192159e-01 -1.50476757e-01  1.81876597e-01 -3.74022948e-01
 -1.33973299e-01  4.30096450e-01 -7.71798716e-01 -8.65877447e-01
  9.39563792e-01 -9.64879358e-01 -8.11706932e-01 -1.14620373e+00
  4.40564411e-01  3.13948699e-01  3.30560450e-01  3.52757621e-01
 -2.35431105e-01 -1.06822635e+00  7.77485454e-01  5.93642750e-03
  2.10924961e-01 -3.97821336e-01  6.74254274e-01 -1.08815948e+00
 -4.58249604e-01 -6.56366803e-01  7.11630376e-01 -9.70719654e-02
 -1.31659921e+00  1.73843928e+00  3.13948699e-01 -8.92706983e-01
 -1.80333213e-01  6.61114259e-01  6.48275701e-01  4.00142037e-01
 -8.79691959e-02 -4.91762703e-01  7.47767245e-01  3.73322351e-01
 -8.65855171e-01 -1.05436279e-01  1.19129689e+00  1.64314933e+00
 -2.12983464e-01 -6.76296420e-01 -1.41349842e+00 -9.60990743e-01
 -1.50273191e-01  7.62038366e-01 -6.02050592e-01 -8.04376333e-02
  8.81831161e-02  1.22508954e+00 -8.48610054e-01  4.20281575e-01
 -1.00594602e+00 -1.16978240e+00  5.30815783e-01 -1.05755909e+00
 -8.66994592e-01 -1.27960509e+00 -5.63659603e-01  3.16438219e-01
  2.65719764e-01  7.72642545e-01  9.38320586e-01 -1.01872650e-01
  1.13390362e+00 -1.77430219e-01  5.26393509e-01  2.14786778e-03
  2.38991298e-01  4.30096450e-01 -6.73795886e-02 -3.91015703e-01
 -9.80855740e-02 -6.26436628e-01  1.96762186e+00 -1.48857209e-01
 -1.47894896e+00  6.22479148e-01 -5.44390262e-01 -2.32047849e-01
 -5.24974031e-01  9.48208180e-02 -4.34250310e-01 -1.09183069e+00
  4.36240632e-01 -3.73948910e-01 -2.63777674e-01  4.51599090e-01
 -1.12044019e+00  5.05326541e-01 -1.77430219e-01  8.60414491e-01
  1.26692535e+00  9.00631660e-02 -1.73093810e-01  6.65769015e-01
  4.75055659e-01 -1.35563959e-02 -4.91762703e-01 -6.46855023e-01
  2.18822494e-01 -3.76176080e-01 -9.95131359e-02 -4.37277303e-01
  9.57700035e-01 -1.48457476e-01 -3.91245925e-01 -1.08094108e+00
 -4.32052827e-01  3.31467252e-01 -2.89450275e-01 -6.15385470e-02
  5.09620478e-01  7.35763378e-01  1.83650239e-01  1.73577252e+00
  1.59790757e+00  5.31699127e-01  1.24667484e+00 -2.67480906e-02
 -8.48312788e-02  8.81099917e-02  4.39658856e-03 -2.90415276e-01
 -1.11726979e+00  4.17419825e-01 -5.44390262e-01 -1.47248294e+00
 -8.26914902e-02 -1.08741024e+00  1.64178874e+00  4.64778589e-01
 -2.32047849e-01 -2.08505255e-01 -1.43980166e+00 -1.41148427e+00
 -4.64719376e-01 -6.91726353e-01  5.92978670e-01 -3.91015703e-01
  6.03490773e-02 -6.36802930e-01  5.74800586e-01 -6.76296420e-01
 -1.87139062e-02 -6.76296420e-01  7.75185080e-01  2.83013233e-01
 -1.32816053e-01 -3.46653465e-01  4.15983353e-01  1.82936996e-01
  1.60129595e-01 -3.07420993e-01  7.58617000e-02  1.15211035e-01
 -2.48473534e-01  3.61018231e-01  5.64420592e-01  3.97958394e-01
 -3.94467795e-01  1.69283239e+00  2.96603488e-01  8.02501752e-02
  8.39268834e-01  3.06362856e-01  5.06713626e-01  6.76480263e-01
 -3.11074966e-01  2.19716444e-01 -2.33596049e-01  1.81035677e+00
  1.58888200e+00  1.45400817e-01  1.41630782e+00 -1.35263478e-01
 -1.77430219e-01  1.29635031e+00  3.99003937e-01 -3.10003765e-01
 -6.38859293e-01 -4.43928552e-01  6.00867401e-01 -6.72167859e-01
  2.04227371e+00 -9.95657290e-01 -8.12275416e-01  5.92322381e-01
  1.22201340e+00 -7.98863654e-01 -1.25796106e-01 -5.18454454e-01
  1.76544111e-01 -1.31541479e+00]

In [21]:

from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.568586708912305

In [22]:
from sklearn.model_selection import GridSearchCV
grid = GridSearchCV(estimator=model,param_grid=params,scoring='r2')

In [23]:
 model=grid.fit(X_train,y_train)

In [24]:
model.best_params_

{'fit_intercept': False, 'positive': False}

In [25]:


model.best_score_

0.5516485005860436

In [26]:

from sklearn import linear_model
lasso_reg = linear_model.Lasso(alpha=500,max_iter=500,tol=0.925)
lasso_reg.fit(X_train,y_train)

Lasso(alpha=500, max_iter=500, tol=0.925)

In [27]:
lasso_reg.score(X_test,y_test)

-0.011208952222098612

In [28]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 1, max_depth=40)
regressor.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=40, random_state=1)

In [29]:
regressor.score(X_train, y_train)

0.9907985298644324

In [30]:
predictions=regressor.predict(X_test)

In [31]:
r2_score(y_test,predictions)

0.2780809023468791

In [32]:
from sklearn.ensemble import RandomForestRegressor
regressor2 = RandomForestRegressor(n_estimators = 400, random_state = 0)
regressor2.fit(X_train, y_train)

RandomForestRegressor(n_estimators=400, random_state=0)

In [33]:

regressor2.score(X_train, y_train)

0.9380682835536306

In [34]:
pred2=regressor2.predict(X_test)

In [35]:
y_test.head

<bound method NDFrame.head of 251    0.971594
732    0.430662
497    0.109677
887   -0.491052
144   -0.390702
         ...
520   -0.680069
0     -0.202372
46    -0.033288
171    0.086995
392   -1.548172
Name: LC50 [-LOG(mol/L)], Length: 454, dtype: float64>

In [36]:
r2_score(y_test,pred2)

0.6012993338214137

In [37]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf')
regressor.fit(X_train, y_train)

SVR()

In [38]:
regressor.score(X_train, y_train)

0.7288958738751936

In [39]:
svr_trainpred=regressor.predict(X_train)

In [40]:
r2_score(y_train,svr_trainpred)

0.7288958738751936

In [41]:
svr_preds=regressor.predict(X_test)

In [42]:
regressor.score(X_test,y_test)

0.6346017592989304

In [43]:
r2_score(y_pred,svr_preds)

0.8027585481887748

In [44]:
param = {'kernel' : ('linear', 'poly', 'rbf', 'sigmoid'),'C' : [1,5,10],'degree' : [3,8],'coef0' : [0.01,10,0.5],'gamma' : ('auto','scale')}

In [46]:
grid2 = GridSearchCV(estimator=regressor,param_grid=param,scoring='r2')

In [ ]:
# regressor1 = SVR(kernel = 'rbf',C=0.5,degree=40,coef0=0.5,tol=0.0001)
#This params result is 0.81%